<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>exam</title>
</head>

<body>
<form th:action="@{/}">
    <input th:if="${ !#ctx.containsVariable('all') }" type="hidden" name="all" value="true">
    <button>[[ ${all} ? 'nur James May approved' : 'alle' ]] Autos anzeigen</button>
</form>

<h1>Autos</h1>

<ul>
    <li th:each="car : ${cars}">
        [[ ${car.manufacturer + " " + car.name} ]]
    </li>
</ul>
</body>
</html>